section.secret {
  background: rgba(50, 0, 121, 0.1);
}

section.secret.gm-only {
  background: rgba(121, 0, 53, 0.1);
}

section.secret:before {
  content: "secret";
  font-size: .9rem;
  font-weight: 700;
  font-variant-caps: small-caps;
  opacity: .5;
}

section.gm-only:before {
  content: "gm-only secret";
  color: rgb(121, 0, 53);
}

body:not(.game-master) section.gm-only {
  display: none;
}
